# Node.js dependencies
node_modules/
package-lock.json

# clasp files
.clasp.json
.claspignore

# Logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db